

.panel-cus {
    border-radius: 0px;
    transition: all 1s;
    border: none;
}
.panel-cus-primary {
    background-color: #1672B9;
    color: #fff;
} 
.panel-cus-success {
    background-color: #00b393;
    color: #fff;
}
.panel-cus-coral {
    background-color: #F06C71;
    color: #fff;
}
.widget-icon {
    float: left;
    font-size: 80px;
    min-height: 80px;
    line-height: 35px;
    opacity: 0.5;
}
.widget-details {
    text-align: right;
    position: absolute;
    right: 15px;
    padding-right: 15px;
    
}